@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "master.cshtml";
}

<div class="container">
    @if (TempData["Contact"] != null && (bool)TempData["Contact"])
    {
        <p>Your message was sent successfully</p>
    }
    else
    {
       @Html.RenderAction("RenderForm", "Contact");
    }
</div>

@Html.Partial("~/Views/Partials/contactContent.cshtml")